/**/
@import "kmjr.comm.size";
.f10{ font-size: 10px;}
.f12{ font-size: 12px;}
.f13{ font-size: 13px;}
.f14{ font-size: 14px !important;}
.f15{ font-size: 15px !important;}
.f16{ font-size: 16px !important;}
.f17{ font-size: 17px;}
.f18{ font-size: 18px;}
.f19{ font-size: 19px;}
.f20{ font-size: 20px;}
.f24{ font-size: 24px;}
.f30{ font-size: 30px;}
.f40{ font-size: 40px;}
.f48{ font-size: 48px;}

.text-h1{font-size: 24px}
.text-h2{font-size: 20px}
.text-normal{font-size: 16px}
.text-normal-min{font-size: 14px}
.text-normal-max{font-size: 18px}
.text-tips{font-size: 12px}

.f1em{ font-size: 1em;}
.f1_5em{ font-size: 1.5em;}
.f2em{ font-size: 2em;}
.f2_5em{ font-size: 2.5em;}
.f3em{ font-size: 3em;}
.f3_5em{ font-size: 3.5em;}
.f4em{ font-size: 4em;}
.f4_5em{ font-size: 4.5em;}
.f5em{ font-size: 5em;}
.f5_5em{ font-size: 5.5em;}
.f6em{ font-size: 6em;}

.lineheight-1{line-height: 1em}
.lineheight-1_5{line-height: 1.5em}
.lineheight-2{line-height: 2.5em}
.lineheight-2_5{line-height: 2em}
.lineheight-3{line-height: 3em}
.lineheight-3_5{line-height: 3.5em}