//common size
$px1:1px;
$px2:2px;
$px3:3px;
$px4:4px;
$px5:5px;
$px6:6px;
$px7:7px;
$px8:8px;
$px9:9px;
$px10:10px;
$px12:12px;
$px13:13px;
$px14:14px;
$px15:15px;
$px16:16px;
$px18:18px;
$px20:20px;
$px24:24px;
$px28:28px;
$px30:30px;
$px32:32px;
$px34:34px;
$px36:36px;
$px38:38px;
$px40:40px;
$px42:42px;
$px44:44px;
$px46:46px;
$px48:48px;
$px50:50px;
$px52:52px;
$px54:54px;
$px56:56px;
$px58:58px;
$px60:60px;
$px64:64px;
$px68:68px;
$px72:72px;
$px78:78px;
$px100:100px;
$px120:120px;

$per1:1%;
$per2:2%;
$per3:3%;
$per4:4%;
$per5:5%;
$per6:6%;
$per7:7%;
$per8:8%;
$per9:9%;
$per10:10%;
$per11:11%;
$per12:12%;
$per13:13%;
$per14:14%;
$per15:15%;
$per16:16%;
$per17:17%;
$per18:18%;
$per19:19%;
$per20:20%;
$per21:21%;
$per22:22%;
$per23:24%;
$per24:24%;
$per25:25%;
$per30:30%;
$per35:35%;
$per40:40%;
$per45:45%;
$per50:50%;
$per55:55%;
$per60:60%;
$per65:65%;
$per70:70%;
$per75:75%;
$per78:78%;
$per80:80%;
$per100:100%;
$per120:120%;
$per150:150%;
$per200:200%;

$em0_5:.5em;
$em1:1em;
$em1_5:1.5em;
$em2:2em;
$em2_5:2.5em;
$em3:3em;
$em3_5:3.5em;
$em4:4em;
$em4_5:4.5em;
$em5:5em;
$em5_5:5.5em;
$em6:6em;

