/**/
.text-h1-top{font-size: 34px !important;}
.text-h1-max{font-size: 28px !important;}
.text-h1-normal{font-size: 22px !important;}
.text-h1{font-size: 24px !important;}
.text-h2-max{font-size: 20px !important;}
.text-h2{font-size: 17px !important;}
.text-h2-min{font-size: 16px !important;}
.text-normal-max{font-size: 15px !important;}
.text-normal{font-size: 14px !important;}
.text-normal-min{font-size: 13px !important;}
.text-tips{font-size: 12px !important;}


.line-height-1{line-height: 1}
.line-height-1_5{line-height: 1.5}
.line-height-2{line-height: 2}
.line-height-2_5{line-height: 2.5}
.line-height-3{line-height: 3}
.line-height-3_5{line-height: 3.5}

